@font-face {
  font-family: "Supreme";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("/fonts/Supreme-Regular.woff2") format("woff2"),
    url("/fonts/Supreme-Regular.woff") format("woff");
}

@font-face {
  font-family: "Technor";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("/fonts/Technor-Semibold.woff2") format("woff2"),
    url("/fonts/Technor-Semibold.woff") format("woff");
}

@theme inline {
  --font-sans: "Supreme", sans-serif;
  --font-display: "Technor", "Supreme", sans-serif;
}
